@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid #4e31aa !important;
} */

html,
body {
  background-color: #272727;
}

:root {
  --primary: #4e31aa;
  --primary-dark: #2f1d66;
  --primary-light: #f1ecff;
}

.custom-container {
  min-height: calc(100vh - 6rem);
}

.custom-container-2 {
  min-height: calc(100vh - 10rem);
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #575959;
}

*::-webkit-scrollbar-thumb {
  background: #f4f4f4;
  border-radius: 7px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #d4d4d4;
}
