@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid #4e31aa !important;
} */

html,
body {
  background-color: #1b1825;
}

:root {
  --primary: #4e31aa;
  --primary-dark: #2f1d66;
  --primary-light: #f1ecff;
}

.custom-container {
  min-height: calc(100vh - 2rem);
}

.custom-container-2 {
  min-height: calc(100vh - 10rem);
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #575959;
}

*::-webkit-scrollbar-thumb {
  background: #f4f4f4;
  border-radius: 7px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #d4d4d4;
}

.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: #9880ff;
  }
  50%,
  100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}

/* ========== progress bar ========= */
.progress-bar {
  transition: width 0.5s ease-out;
}
